<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovaChat">

        <activity
            android:name="com.novachat.app.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.NovaChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.novachat.app.PhoneLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.novachat.app.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.novachat.app.HomeActivity"
            android:exported="false" />

        <activity
            android:name="com.novachat.app.ChatDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.novachat.app.GroupChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.novachat.app.VoiceCallActivity"
            android:exported="false" />

        <activity
            android:name="com.novachat.app.VideoCallActivity"
            android:exported="false" />

        <activity
            android:name="com.novachat.app.GroupCallActivity"
            android:exported="false" />

        <activity
            android:name="com.novachat.app.ProfileActivity"
            android:exported="false" />

        <activity
            android:name="com.novachat.app.SettingsActivity"
            android:exported="false" />

    </application>

</manifest>
